body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: column;
    align-items:
 center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-budget, .add-expense {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.expense-history {
    width: 50%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction:column;

}

.expense-history table {
    width: 100%;
    border-collapse: collapse;
    flex: 1;
}
.expense-history-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding:15px;
    flex-direction: row;
    gap: 10px;
}
.expense-history-summary p {
    border: 1px solid #ccc;
    padding: 10px;
}

.expense-history th, .expense-history td {
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;
}

.expense-history th {
    background-color: #fefefe;
}

.reset-button {
    color: white;
    background-color: red;
    width: 300px;
    border-radius: 10px;
    font-size: large;
    align-self: flex-end;
}
.combined {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.add-budget, .add-expense, .expense-history {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  .left-column {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px; }
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}