body {
  font-family: Arial, sans-serif;
  background-color: #91b3ee;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 40px 60px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* align-items: center; */
  
}

h1 {
  text-align: center;
  color: rgb(108, 106, 106);
  font-size: 50px;
}

h2 {
  margin: 0px;
}

.add-budget,
.add-expense {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: start;
  background-color: #e0e0e0;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px;
  gap: 10px;
}

.expense-history {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.expense-history table {
  border-collapse: collapse;
}
.expense-history-summary {
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: row; */
  gap: 10px;
}

.expense-history th,
.expense-history td {
  border-bottom: 1px solid rgb(198, 197, 200); 
  text-align: start;
  padding-top: 10px;
  padding-bottom: 15px;
}

.expense-history th {
  background-color: #fefefe;
}

.reset-button {
  color: white;
  background-color: rgba(233, 48, 76, 0.946);
  border-radius: 5px;
  font-size: large;
  width: 100%;
}
.combined {
  display: flex;
  /* justify-content: space-between; */
  /* flex-direction: row-reverse; */
  /* width: 75%; */
  height: 100%;
  flex-grow: 3;

}
.combined h2 {
  text-align: start;
}

.add-budget,
.add-expense,
.expense-history {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.left-column {
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}
.content {
  display: flex;
  height: 100%;
  align-items: start;
  gap: 15px;
  width:100%;
}
.add-budget label,
.add-expense label {
  flex: 1;
}
.add-budget button,
.add-expense button {
  background-color: #1d80f2;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  padding: 8px;
}
input {
  padding: 8px;
}
.expense-history-summary .item {
border-radius: 3px;
padding: 8px;
color: #033866;
background-color: #aad3f8;

}
.expense-history-summary {
    border-bottom: 1px solid rgb(198, 197, 200);
    padding-bottom: 20px;
}
.expense-history h2 {
    border-bottom: 1px solid rgb(198, 197, 200);
    padding-bottom: 10px;
    padding-top: 15px;
}