body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.rating-container {
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.rating-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.star {
  color: orange;
  font-size: 24px;
  margin-right: 5px;
  position: relative;
  top: 10px; 
  left: 10px;
  z-index: 1;
}

.star-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rating-header p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: left;
}

.rating-text {
  color: #888888;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.rating-buttons {
  display: flex;
  justify-content: center;
}

.rating-button {
  background-color: hsl(217, 12%, 63%);
  color: white;
  border: none;
  padding: 5px;
  font-size: 18px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 9px;
}

.submit-button {
  background-color: orange;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 20px;
  padding: 10px 100px;
  margin-top: 20px;
  cursor: pointer;
  
}
.submit-button:disabled{
  background-color: #414040;
  cursor: not-allowed;
  color: hsl(0, 0%, 100%);
}
.para {
  text-align: left;
}

.hide {
  display: none;
}
.rating-button:hover {
  background-color: hsl(25, 97%, 53%);
}
.container {
  background-color: hsl(213, 19%, 18%);
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  width: 300px;
  
}

.illustration {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.thank-you {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}
.rating {
  font-size: 18px;
  color: hsl(25, 97%, 53%);
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 19px;
  padding: 10px;
  background-color: #4d4c4a;
  
}
svg {
  display: block;
  margin: auto;
  padding: 2px auto;
}
.selected-button {
  background-color: hsl(0, 0%, 100%);
  color: #121212;
}



