body {
  font-family: Arial, sans-serif;
  background-color:  hsl(30, 54%, 90%); 
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 3rem auto;
  padding: 20px;
  background-color: white; 
  border-radius: 15px;
}

h1 {
  text-align: center;
  color: #333; 
}

p {
  text-align: left;
  color: #666; 
}

ul,
ol { 
  margin: 0; 
  padding: 0; 
}

 li { 
  margin-bottom: 10px;
  color: #333; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border-bottom: 1px solid #ddd; 
}

th {
  padding: 8px;
  text-align: left;
  color: #333; 
  background-color: #eee; 
}

td {
  padding: 8px;
  text-align: left;
  color: #666; 
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #aaa; 
  margin-top: 20px;
}


.preparation-box {
  background-color: hsl(330, 100%, 98%); 
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px; 
  }

.t1 {
  color:hsl(332, 51%, 32%);
}

.b {
  text-align: left;
}

h1,h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.x {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  
}
img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



